agate==1.9.1
alembic==1.16.2
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
coloredlogs==14.0
daff==1.4.2
dagster==1.10.20
dagster-dbt==0.26.20
dagster-graphql==1.10.20
dagster-pipes==1.10.20
dagster-webserver==1.10.20
dagster_shared==1.10.20
dbt-adapters==1.16.0
dbt-common==1.25.0
dbt-core==1.9.8
dbt-extractor==0.6.0
dbt-protos==1.0.330
dbt-semantic-interfaces==0.7.4
deepdiff==7.0.1
docstring_parser==0.16
filelock==3.18.0
fsspec==2025.5.1
gql==3.5.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
grpcio==1.73.0
grpcio-health-checking==1.71.0
h11==0.16.0
httptools==0.6.4
humanfriendly==10.0
idna==3.10
importlib-metadata==6.11.0
isodate==0.6.1
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
leather==0.4.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
mdurl==0.1.2
more-itertools==10.7.0
msgpack==1.1.1
multidict==6.5.0
networkx==3.5
numpy==2.3.0
ordered-set==4.1.0
orjson==3.10.18
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.0
parsedatetime==2.6
pathspec==0.12.1
propcache==0.3.2
protobuf==5.29.5
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.25.1
selenium==4.33.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowplow-tracker==1.1.0
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.41
sqlglot==26.29.0
sqlglotrs==0.6.1
sqlparse==0.5.3
starlette==0.47.0
structlog==25.4.0
tabulate==0.9.0
text-unidecode==1.3
tomli==2.2.1
tomlkit==0.13.3
toposort==1.10
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
universal_pathlib==0.2.6
urllib3==2.4.0
uvicorn==0.34.3
uvloop==0.21.0
watchdog==5.0.3
watchfiles==1.1.0
websocket-client==1.8.0
websockets==15.0.1
wsproto==1.2.0
yarl==1.20.1
zipp==3.23.0
